.head{
    width: 100%;
    background-color:rgba(35, 122, 235, 0.644);
}

nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header_title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vh;
  height: 10vh;
}

nav a{

}
