#footer{
    width: 100%;
    background-color:rgba(35, 122, 235, 0.644);
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #6ecaff;
}

.page-footer{
  background-color:rgba(35, 122, 235, 0.644);
  height: 10vh;
}
