
<div class="doc_list animated slideInRight">
  <div class="row">
    <div class="doc_el z-depth-3" >
      <i class="material-icons large">assignment_ind</i>
      <span>Заявка</span>
    </div>
    <div class="doc_el z-depth-3">
      <i class="material-icons large">assignment</i>
      <span>Резюме</span>
    </div>
    </div>
  <div class="row">
    <div class="doc_el z-depth-3">
      <i class="material-icons large">email</i>
      <span>Письмо</span>
    </div>
    <div class="doc_el z-depth-3">
      <i class="material-icons large">people</i>
      <span>Владение языком</span>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">First Name</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea2" class="materialize-textarea"></textarea>
      <label for="textarea1">Last Name</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea3" class="materialize-textarea"></textarea>
      <label for="textarea1">Birth Date</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea4" class="materialize-textarea"></textarea>
      <label for="textarea1">Male/Female</label>
    </div>
    <a class="waves-effect waves-light btn">submit</a>
  </div>

</div>

