
<div class="doc_list animated slideInRight">
  <div class="doc_el z-depth-3" >
    <i class="material-icons large">assignment_ind</i>
    <span>Заявка</span>
  </div>
  <div class="doc_el z-depth-3">
    <i class="material-icons large">assignment</i>
    <span>Резюме</span>
  </div>
  <div class="doc_el z-depth-3">
    <i class="material-icons large">email</i>
    <span>Письмо</span>
  </div>
  <div class="doc_el z-depth-3">
    <i class="material-icons large">people</i>
    <span>Владение языком</span>
  </div>
</div>

