.content{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.doc_list{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.body{
  background-color: #6ecaff;

}

.right-side_info{
  width: 80%;

}

.left-side_info{
  width: 20%;
}

.item-list{
  padding: 10px;
}

 
.collection-header{
  color: rgba(35, 122, 235, 0.644);
}

.collection-item{
  color: white;
}

.red{
  background-color: red;
}