.content{
  border: solid;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.right-side_info{
  border: 1px solid green;
  width: 80%;

}

.left-side_info{
  width: 20%;
  border: 1px solid red;
}

.item-list{
  padding: 10px;
}
